@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}
